@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif;
  }
  p {
    font-family: "Lora", serif;
  }
}

.opacity {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opacityfull {
  opacity: 100%;
}
